<div  class="page-footer purple footer-copyright">
  <div class="container grey-text text-lighten-4">
    © 2016
    <a class="grey-text text-lighten-4" href="https://github.com/adamedwardsdbz">Adam Edwards</a>
    &amp;
    <a class="grey-text text-lighten-4" href="http://www.michaelsolati.com">Michael Solati</a>

    <a class="grey-text text-lighten-4 right hide-on-small-only" href="https://surge.sh/">Powered by Surge</a>
    <a class="grey-text text-lighten-4 right hide-on-small-only r16" href="https://www.angularattack.com/">For Angular Attack</a>
  </div>
</div>
