html, body, my-app {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
  navbar {
    height: 56px;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  you-are-here {
    height: 200px;
    width: 100vw;
    margin: 0;
    padding: 0;
    #location {
      height: 225px;
      width: 100vw;
      margin: -25px 0 0 0;
      padding: 25px 0 0 0;
    }
  }
  map {
    height: calc(~"100vh - 256px");
    width: 100vw;
    margin: 0;
    padding: 0;
    .sebm-google-map-container {
      height: calc(~"100vh - 256px");
      width: 100vw;
      margin: 0;
      padding: 0;
    }
  }
}

navbar {
  height: 64px;
  width: 100vw;
  margin: 0;
  padding: 0;
}
you-are-here {
  height: 200px;
  width: 100vw;
  margin: 0;
  padding: 0;
  #location {
    height: 225px;
    width: 100vw;
    margin: -25px 0 0 0;
    padding: 25px 0 0 0;
  }
}
map {
  height: calc(~"100vh - 264px");
  width: 100vw;
  margin: 0;
  padding: 0;
  .sebm-google-map-container {
    height: calc(~"100vh - 264px");
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
