<div id="location" class="center-align">
  <img class="logo" src="/resources/images/logo/white_logo.png" alt="Logo">
  <h4>in... {{selectedPlace.city}}</h4>
</div>
<sebm-google-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoomLevel">
  <!-- <div *ngFor="let city of cities">
    <sebm-google-map-marker
      [latitude]="city.Lat"
      [longitude]="city.Lng">
      <sebm-google-map-info-window>
          <strong>{{city.City}}</strong>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

  </div> -->
</sebm-google-map>
