<div id="location" class="center-align">
  <img class="logo" src="/resources/images/logo/Logo.png" alt="Purple Logo">
  <h4>in... {{selectedPlace.city}}</h4>
</div>
<sebm-google-map
  [latitude]="selectedPlace.lat"
  [longitude]="selectedPlace.lng"
  [zoom]="zoomLevel">
    <sebm-google-map-marker
      [latitude]="selectedPlace.lat"
      [longitude]="selectedPlace.lng">
      <sebm-google-map-info-window>
          <strong>{{selectedPlace.city}}</strong>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

</sebm-google-map>
